body {
    background-image: linear-gradient(to bottom right, #EDC7B7, #EDE7B7);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100vh;
}

.header {
    background-color: #123C69;
    overflow: hidden;
    padding: 20px 10px;
  }
  
  .header_link {
    float: right;
    color: #EDE7B7;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header_link:hover {
    background-color: #BAB2B5;
    color: #123C69;
  }


h1 {
    font-family: 'Caveat', cursive;
    text-align: center;
}

